body {
    background: #78b6bd;
}

.enter_button {
    align-content: center;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.ent_button{
    margin: 15px;
    font-size: 30px;
    border-radius: 12px;
}

.data   {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    list-style: none;
}

.data li{
    margin: 30px;
}


.data li input{
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0a99ab;
    font-size: 23px;
}

.data li i{
    margin: 5px;
}

.data select{
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0a99ab;
    font-size: 23px;
    width: 251px;
}

.date{
    width: 251px;
}

.continue{
    align-content: center;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    left: 800px;
}

/*ОКНО ВХОДА*/
.data_enter{
    margin-top: 70px;
}

.continue_enter{
    align-content: center;
    margin-top: 10px;
    width: 100%;
    position: absolute;
    left: 750px;
}

/*ОКНО ВВОДА ССЛЫКИ  НА ВИДЕО*/
.video_link{
    margin-top: 50px;
    width: 100%;
    text-align: center;
    list-style: none;
}

.video_link input{
    border-radius: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #0a99ab;
    font-size: 23px;
    width: 800px;
    margin-top: 30px;
}

.continue_to_video{
    align-content: center;
    margin-top: 25px;
    width: 100%;
    position: absolute;
    left: 957px;
}