{% extends 'main/layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Тема страницы</h1>
        <p>Какой-то текст написанный просто для того. чтобы отслеживать его расположение на сайте. Пусть будет такой, когда будем наполнять проект смыслом, то поменяем текст,а пока пусть таким остается, чтоб был длинный и точнее показывал как будет выглядеть финальный продукт.</p>
    </div>
    <a href="login" class="btn btn-primary">Вход</a>
{% endblock %}