{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/Снимок экрана 2021-03-23 в 17.14.55.png' %}" alt="Лого">
        <p class="logo">Facial Emotion Recognition</p>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-torii-gate"></i> Home</li></a>
            <a href="{% url 'instruction' %}"><li><i class="fab fa-phoenix-framework"></i> Instruction</li></a>
            <a href="{% url 'about' %}"><li><i class="fas fa-comment"></i> About us</li></a>
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>