{% load static %}
<!DOCTYPE html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/main2.css' %}">
    <title>Список выдео</title>
</head>
<body>

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
<iframe width="560" height="315" allowfullscreen
        src="https://www.youtube.com/embed/oL_um1FrGU8">

</iframe>
<iframe width="560" height="315"
        src="https://www.youtube.com/embed/watch?v=tjBqAoeVSxI" >

</iframe>

<iframe width="560" height="315" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
        src="https://www.youtube.com/embed/U4PZI7rEQBs">
</iframe>
<h1>video</h1>
{{ request.user }}
</body>
</html>